:root {
    --gray-900: #141414;
    --gray-800: #1F1F1F;
    --gray-700: #333333;
    --green: #C4F82A;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--gray-900);
    color: white;
}


/*typography*/
.text-preset-1, .text-preset-2, .text-preset-2-bold {
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
}

.text-preset-1 {
    font-size: 2.4rem;
    font-weight: var(--bold);
}

.text-preset-2 {
    font-size: 1.4rem;
    font-weight: 400;
}

.text-preset-2-bold {
    font-size: 1.4rem;
    font-weight: var(--bold);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.green {
    color: var(--green)
}

/*containers*/
.container {
    width: 100%;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.4rem;
}

.card {
    width: 100%;
    background-color: var(--gray-800);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2.4rem;
    padding: 2.4rem;
    border-radius: 1.2rem;
}

@media only screen and (min-width: 480px) {
    .container .card {
        padding: 4rem;
    }

    .card{
        max-width: 45.6rem;
    }
}

@media only screen and (min-width: 992px) {
    .container{
        justify-content: center;
        padding: 0;
    }

    .card{
        max-width: 38.4rem;
    }
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    justify-content: start;
    align-items: center;
}

.profile-pic {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 99rem;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1.6rem;
}

.btn {
    padding: 1.2rem;
    border-radius: 0.8rem;
    border-style: none;
}

.btn-link {
    background-color: var(--gray-700);
    color: white;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: var(--green);
    color: var(--gray-700);
}











































